/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-size: 14px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
